.shadow-regular {
  box-shadow: 0 0.5rem 1rem #1f3d5e21 !important;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.avatar {
  box-shadow: 0 0.25rem 0.75rem rgba(42, 51, 71, 0.3) !important;
  border-radius: 20px;
  height: 40px;
  width: auto;
}
.table-row-border {
  border-bottom: 1px solid rgb(215, 223, 235) !important;
}
.action-btn {
  width: 83px !important;
}
.loader-container {
  height: 85.8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loader-wrapper {
  text-align: center;
  align-self: center;
  margin-inline: auto;
}
.action-button-wrapper {
  display: inline !important;
}
.action-button {
  cursor: pointer;
}
